.nrepl-port
package-lock.json
resources/public/js

.lsp
pgdata
target
resources/ui
logdata
esdata
parsers/*.class
tmp/*
box/deploy/master/cluster.yaml
pgdata2
test-temp-zrc/*
.clj-kondo/.cache
.shadow-cljs
shadow-target
.grafana
.esdata
.eastwood
aidbox-sbom.json
aidbox-sbom.xml
local.sql

/resources/VERSION
/resources/COMMIT
/resources/CHANNEL
docker-build/*jar
docker-build/aidbox-projects
parsers-java
antlr
.deploy
resources/aidbox-commit
resources/aidbox-timestamp
resources/zen-fhir-version
resources/license/private-keys
.libox-target
.jars
/node_modules
/smartbox/docs/.env

testzrc/fhir-modules-box/package-lock.json
test/box/zenbox/project/zen-modules/*
.prometheus_data/
/synthea-with-dependencies.jar
/audit/perf-datasets/

/.idea/
.local-env
pgdata-replica
async-profiler

aidbox-projects/hl7.fhir.us.core-3.1.1.zip

fhir-releases
.DS_Store
.#**
deploy/deploy.yaml
deploy/postgres.yaml
deploy/cloud.yaml
deploy/cluster.yaml
deploy/production/aidbox.yaml
deploy/production/cluster.yaml

docker-build/target

secret
infrastructure/secret.yaml
build.sh
infrastructure/repositories.yaml
.nrepl-port
/examples.json
fhir/test/fhir/examples
.cpcache
box/test/box/operations/import-data
box/play.http
box/scratch.clj
infrabox/pom.xml

# User-specific stuff
.idea/**
*.iml
**/channels.scm
**/guix.scm
**/.envrc

# Temporary
*~
.calva
.clj-kondo
.lsp

box/inferno-test/report.json
/box/resources/license/public-keys/testRS256.key.pub
