{ns rpc-ops
 import #{core}

 test-rpc
 {:zen/tags #{core/rpc}
  :zen/desc "Test operation for rpc"}

 toggle-test
 {:zen/tags #{core/rpc}}

 create-test
 {:zen/tags #{core/rpc}}

 get-course-tree
 {:zen/tags #{core/rpc}}}
